@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
@import url(https://fonts.googleapis.com/css?family=Roboto:100);

body {
    background-color: #f5fafd;
}

div.page.container {
    background-color: white;
    box-shadow: 0 0 7px 0 rgba(156, 156, 156, 0.29);
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 15px;
}

div.search {
    height: 60px;
    width: 70%;
    border: 1px solid #48a9d3;
    margin: 0 auto 10px auto;
    border-radius: 3px;
    padding: 2px;
    position: relative;
}

div.search > input[type="text"] {
    width: calc(100% - 100px);
    display: inline-block;
    height: 54px;
    padding: 10px;
    border: 0;
    outline: 0;
    overflow: hidden;
}

div.search > div#search_results {
    position: absolute;
    top: 63px;
    left: 0;
    right: 105px;
    z-index: 9999;
}

div.search > div#search_results div.item {
    margin-bottom: 5px;
    background-color: white;
    box-shadow: 0 0 7px 0 rgba(156, 156, 156, 0.29);
    border-radius: 3px;
    border: 1px solid #48a9d3;
    overflow: hidden;
}

div.search > div#search_results div.item:hover {
    background-color: #ddd;
    cursor: pointer;
}

div.search > div#search_results div.item img {
    width: 47px;
    height: 55px;
    display: inline-block;
    margin: 0;
    float: left;
}

div.search > div#search_results div.item div.info {
    display: inline-block;
    height: 55px;
    width: 641px;
    margin: 0;
    float: left;
    padding: 5px;
}

div.search > div#search_results div.item div.info p.name {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12pt;
}

div.search > div#search_results div.item div.info p.desc {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 10pt;
}

div.search > div.dropdown {
    width: 100px;
    display: inline-block;
    border-left: 1px solid #48a9d3;
    float: right;
    height: 54px;
    background-image: url(../img/dropdown.png);
    background-repeat: no-repeat;
    background-position: right center;
    color: #555865;
    text-transform: uppercase;
    position: relative;
}

div.search > div.dropdown:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}

div.search > div.dropdown > font {
    line-height: 54px;
    height: 54px;
    width: 100%;
    padding-left: 15px;
    display: inline-block;
}

div.search > div.dropdown > div.menu {
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    z-index: 10000;
    background-color: white;
    box-shadow: 0 0 7px 0 rgba(156, 156, 156, 0.29);
    border-radius: 3px;
    border: 1px solid #48a9d3;
    display: none;
}

div.search > div.dropdown > div.menu > button {
    width: 100%;
    display: block;
    height: 40px;
    text-transform: uppercase;
    background-color: #48a9d3;
    color: white;
    margin: 0 0 2px 0;
    padding: 0;
    border: 0;
    outline: 0;
}

div.search > div.dropdown > div.menu > button:last-child {
    margin: 0;
}

div.mostpopularsoftware {
    margin-top: 70px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
}

div.mostpopularsoftware > h2 {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12pt;
    text-align: center;
    color: #a2a5aa;
}

div.mostpopularsoftware > hr {
    margin-top: 0;
    width: 200px;
    border-color: #555865;
    border-width: 2px;
}

div.mostpopularsoftware > .software {
    display: inline-block;
    width: 100px;
    float: left;
    margin-right: 10px;
}

div.mostpopularsoftware > .software:hover {
    text-decoration: none;
    cursor: pointer;
}

div.mostpopularsoftware > .software:hover > img {
    opacity: 1;
}

div.mostpopularsoftware > .software:hover > p {
    text-decoration: none;
    color: #555865;
}

div.mostpopularsoftware > .software:last-child {
    margin-right: 0;
}

div.mostpopularsoftware > .software > img {
    width: 100px;
    height: 118px;
    border-radius: 2px;
    opacity: 0.8;
}

div.mostpopularsoftware > .software > p {
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: 100;
    color: #a2a5aa;
    font-size: 10pt;
    margin-top: 5px;
}

div#software {
    margin-top: 60px;
    display: none;
    margin-bottom: 40px;
}

div#software .col-md-4 {
    height: 142px;
    border-left: 2px solid #dddde1;
}

div#software img {
    width: 120px;
    height: 142px;
    border-radius: 2px;
    display: inline-block;
    float: left;
}

div#software .softwareinfo {
    display: inline-block;
    height: 118px;
    margin-left: 15px;
    float: left;
    width: calc(100% - 135px);
}

div#software .softwareinfo h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12pt;
}

div#software .softwareinfo p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 10pt;
}

div.user {
    margin: 20px 0 40px 0;
    font-family: "Open Sans", sans-serif;
    color: #555865;
    background-image: url(../img/chevron-right.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    padding-left: 30px;
}

div.user > h2 {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    border-collapse: separate;
    border-spacing: 0;
    color: #555865;
}

tr.category {
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 8pt;
    border-radius: 3px;
}

tr.category td {
    background-color: #555865;
    margin-right: 8px;
    border-left: 1px solid white;
}

tr.category td:first-child {
    border-left: 0;
}

tr.spearator {
    height: 30px;
}

tr.data {
    font-weight: 300;
    font-size: 8pt;
}

tr.data td {
    border-left: 1px solid white;
    background-color: #d5d5d5;
}

tr.data td:first-child {
    border-left: 0;
}

th {
    text-align: left;
    padding-bottom: 20px;
}

th > p.title {
    font-size: 12pt;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

th > p.subtitle {
    font-size: 8pt;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

tr, td {
    padding: 10px 5px;
}

.product-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    float: left;
    display: inline-block;
}

.product-info {
    padding: 10px 0;
    display: inline-block;
    float: left;
    color: #555865;
    font-weight: bold;
}

.product-info:hover {
    text-decoration: underline;
}

.product-info p {
    margin: 0;
    padding: 0;
}
